<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  </head>

  <body>

   
      <!-- Section: Design Block -->
      <section class="text-center">
        <!-- Background image -->
        <div class="p-5 bg-image" style="
               background-color: #12AD2B;
              height: 300px;
              "></div>
        <!-- Background image -->

        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
              margin-top: -100px;
              background: hsla(0, 0%, 100%, 0.8);
              backdrop-filter: blur(30px);
              ">
          <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h2 class="fw-bold mb-5">Customer Sign up</h2>


                <form action="/ccreate" method="post" align="center">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="cname"  class="form-control" />
                        <label class="form-label" >Name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input class="form-control" type="tel" name="cphone"  pattern="[0-9]{10}" />
                        <label class="form-label" >Contact Number</label>
                      </div>
                    </div>
                  </div>

            

                  <!-- Password input -->
                  <!-- <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" class="form-control" />
                    <label class="form-label" for="form3Example4">Password</label>
                  </div> -->

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="password" name="c_crt_pass" id="pass" class="form-control" />
                        <label class="form-label" >Create Password</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="password" id="repass" class="form-control" />
                        <label class="form-label">Confirm Password</label>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="number" name="cage" class="form-control" />
                        <label class="form-label" >Age</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <select name="cgender" class="form-select" id="validationDefault10" required>
                            <option selected disabled value=""></option>
                            <option>Female</option>
                            <option>Male</option>
                            <option>Other</option>
                          </select>
                          <label class="form-label"> Gender</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
            
                        <input type="text" name="cemail" class="form-control" />
                        <label class="form-label" >Email</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="cadd" class="form-control" />
                        <label class="form-label">  Address</label>
                      </div>
                    </div>
                  </div>
                                    
                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                    <label class="form-check-label" for="form2Example33">
                      Agree that the details provided are correct
                    </label>
                  </div>

                  <!-- Submit button -->
                  <button type="submit" class="btn btn-success btn-block mb-4">
                    Sign up
                  </button>

                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
<!-- Section: Design Block -->

<script>
      var password = document.getElementById("pass")
      , confirm_password = document.getElementById("repass");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    </script>
  </body>
</html> 

