<!DOCTYPE html>
<html>
    <head>
        <style>
            .hi{
                position: absolute;
                top: 50%;
                left: 30%;
                transform: translate(-50%, -50%);
                text-align: center;
                border: solid;
                padding: 25px;
                border-radius: 13px;
                border-width: 3px;
                
            }
            img {
                display: block;
                margin: 0 auto;
            }
            body{
                background-image: url(pp6.jpg);
                opacity: 2px;
                background-repeat: no-repeat;
                background-size: cover;
                
            }

        </style>
    </head>
    <body>
        
        <div class="hi">
            <img src="hurray.jpg"><br>
        
        
            <p><h4>Hurray!! You have successfully Deleted the product</b></h4></p>
        </div>
    </body>
</html>