<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Deleted Successfully</h1>
    <div><p><a href="retSignIn">
        <button type="submit" class="bt1"> go back to login page  </button></a></p></div>
    </div>
</body>
</html>