<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/home.css">
    </head>
    <body>
        <div class="nav">
            <div><p>Home</p></div>
            <div><p>About</p></div>
            <div><p>Happy customers</p></div>
            <div><p>Contact us</p></div>
            <!-- <div><p>Signup / Signin</p></div> -->
            <div><p><a href="login">
                <button name="login" type="submit" class="bt1"> Signup / Signin </button></a></p></div>
        </div>

        <div class="homepage">
            <img src="/fruityy.jpg" >
            <div class="centered">
                <p style="color:#12AD2B ;">Welcome to Selling site.</p> <br>
            <h2>The World Best Service Provider Website.</h2><br>
            Find the choice that you won't regret at the best price. Get the products directly to your door-step from the trusted vendors. We are just one click away. Order products that are 100% fresh and organic.<br><br>
            <button type="button" style="height: 30px;width: 130px;">Login</button>
            </div>
        </div>
        <h2 style="text-align: center;color: #12AD2B;padding-top: 50px;">About Selling Site</h2><br>
        <div class="about">
            <div class="a1">
                <h2>Selling site is a long established place where you can find the quality services.</h2><br>
                You have come to the right place. Selling site is your one stop solution. You can find various products here with 100% quality assurance. The businesses we support include Vegetables,fruits,dryfruits and what not. All the customers get your healthy food ordered today and all the retailers join the taste of technology to your quality service. The Selling site connects you both.<br>
                Join Selling Site today.  
            </div>
            <div class="a2">
                <img src="/c-r.jpg" style="height: 400px;width: 500px;">
            </div>
        </div>

        <h2 style="text-align: center;color: #12AD2B;">Happy Customers</h2><br>
        <div class="hap-cus">
            <div class="hap1">
                <img src="/c1.jfif" style="border-radius: 50%; height: 130px;width: 150px;"><br>
                <h4> Venkateswararo</h4>
                <h4>(Customer)</h4>
                Selling site helped me by gettting essestials to my doorstep thus saving a lot of time.<br>
                Thank you Selling site.
            </div>
            <div class="hap2">
                <img src="/r1.jpg" style="border-radius: 50%; height: 130px;width: 150px;"><br>
                <h4>Janaki</h4>
                <h4>(Retailer)</h4>
                Selling site helped me by connecting to my customers online.<br>
                Thank you Selling site.
            </div>
            <div class="hap3">
                <img src="/r2.jpg" style="border-radius: 50%; height: 130px;width: 150px;"><br>
                <h4>Lakshmi</h4>
                <h4>(Retailer)</h4>
                Happy to be a part of selling site. Selling site helped me by increasing my network.<br>
                Thank you Selling site.
            </div>
        </div>

        <h2 style="text-align: center;color: #12AD2B;">Contact Us</h2><br>
        <div class="contact-us" style="text-align: center;">
            <div class="con1">
                <b>Name : </b> <input type="text" placeholder="Enter your name"><br><br>
                <b> Gender   : </b> <input type="radio"> Female <input type="radio"> Male <input type="radio"> Prefer not to say<br><br>
                <b>Phone Number : </b><input type="tel"><br><br>
                <b> Email    : </b><input type="email"><br><br>
                <b>Description : </b><input type="textarea" style="height:120px; width: 400px;"><br><br>
                <button type="submit" style="height: 30px;width: 130px;">Submit</button>
            </div>
            <div class="con2">
                <h2>Our Address</h2>
                &nbsp &nbsp  Vishnu Institute of Technology<br>
                &nbsp &nbsp Vishnupur<br>
                &nbsp &nbsp Bhimavaram <br>
                &nbsp &nbsp India<br>
                &#9990;  9876543210<br>
                &#9993; abcd@vishnu.edu.in<br><br>

                &nbsp &nbspflot no:202 , Suvarna Towers<br>
                &nbsp Bandaru vari street<br>
                &nbsp Tadepalligudem<br>
                &nbsp India<br>
                &#9990; 9807654231<br>
                &#9993; rew@vishnu.edu.in

            </div>
        </div>
    </body>
</html>