<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/home.css">
    </head>
    <body>
        <div class="nav">
            <div><p>Home</p></div>
            <div><p>About</p></div>
            <div><p>Happy customers</p></div>
            <div><p>Contact us</p></div>
            <!-- <div><p>Signup / Signin</p></div> -->
            <div><p><a href="login">
                <button name="login" type="submit" class="bt1"> Signup / Signin </button></a></p></div>
        </div>

        <div class="homepage">
            <img src="/fruityy.jpg" >
            <div class="centered">
                <p style="color:#12AD2B ;">Welcome to Selling site.</p> <br>
            <h2>The World Best Service Provider Website.</h2><br>
            Find the choice that you won't regret at the best price. Get the products directly to your door-step from the trusted vendors. We are just one click away. Order products that are 100% fresh and organic.<br><br>
            <button type="button" style="height: 30px;width: 130px;">Login</button>
            </div>
        </div>
        <h2 style="text-align: center;color: #12AD2B;padding-top: 50px;">About Selling Site</h2><br>
        <div class="about">
            <div class="a1">
                <h2>Selling site is a long established place where you can find the quality services.</h2><br>
                You have come to the right place. Selling site is your one stop solution. You can find various products here with 100% quality assurance. The businesses we support include Vegetables,fruits,dryfruits and what not. All the customers get your healthy food ordered today and all the retailers join the taste of technology to your quality service. The Selling site connects you both.<br>
                Join Selling Site today.  
            </div>
            <div class="a2">
                <img src="/c-r.jpg" style="height: 400px;width: 500px;">
            </div>
        </div>

        <h2 style="text-align: center;color: #12AD2B;">Happy Customers</h2><br>
        <div class="hap-cus">
            <div class="hap1">
                <img src="/c1.jfif" style="border-radius: 50%; height: 130px;width: 150px;"><br>
                <h4> Venkateswararo</h4>
                <h4>(Customer)</h4>
                Selling site helped me by gettting essestials to my doorstep thus saving a lot of time.<br>
                Thank you Selling site.
            </div>
            <div class="hap2">
                <img src="/r1.jpg" style="border-radius: 50%; height: 130px;width: 150px;"><br>
                <h4>Janaki</h4>
                <h4>(Retailer)</h4>
                Selling site helped me by connecting to my customers online.<br>
                Thank you Selling site.
            </div>
            <div class="hap3">
                <img src="/r2.jpg" style="border-radius: 50%; height: 130px;width: 150px;"><br>
                <h4>Lakshmi</h4>
                <h4>(Retailer)</h4>
                Happy to be a part of selling site. Selling site helped me by increasing my network.<br>
                Thank you Selling site.
            </div>
        </div>

        <section class="vh-100" style="background-color: #9A616D;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                  <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                      <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                          alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" /> -->
                        <br><br>  <br>
                        <center>
                            <h1>Contact Us</h1>
                            <br><br>
                          <div class="con2">
                            <!-- <h2>Our Address</h2> -->
                            &nbsp &nbsp  Vishnu Institute of Technology<br>
                            &nbsp &nbsp Vishnupur<br>
                            &nbsp &nbsp Bhimavaram <br>
                            &nbsp &nbsp India<br>
                            &#9990;  9876543210<br>
                            &#9993; abcd@vishnu.edu.in<br><br>
            
                            &nbsp &nbspflot no:202 , Suvarna Towers<br>
                            &nbsp Bandaru vari street<br>
                            &nbsp Tadepalligudem<br>
                            &nbsp India<br>
                            &#9990; 9807654231<br>
                            &#9993; rew@vishnu.edu.in
            
                        </div>
                    </center>
                      </div>
                      <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
          
                          <form>
          
                            <!-- <div class="d-flex align-items-center mb-3 pb-1">
                              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                              <span class="h1 fw-bold mb-0">Logo</span>
                            </div>
          
                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
           -->
    
                            <div class="form-outline mb-4">
                              <input type="text" id="form2Example17" class="form-control form-control-lg" />
                              <label class="form-label" for="form2Example17">Name</label>
                            </div>
                            
                            <div class="form-outline mb-4">
                                <input type="text" id="form2Example17" class="form-control form-control-lg" />
                                <label class="form-label" for="form2Example17">Mobile No.</label>
                              </div>
            
                            <div class="form-outline mb-4">
                              <input type="email" id="form2Example27" class="form-control form-control-lg" />
                              <label class="form-label" for="form2Example27">Email</label>
                            </div>
                            <div class="form-outline">
                                <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                                <label class="form-label" for="textAreaExample">Description</label>
                              </div>
            <br>
                            <div class="pt-1 mb-4">
                              <button class="btn btn-dark btn-lg btn-block" type="button">Submit</button>
                            </div>
          
                            
                          </form>
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    
    </body>
</html>