<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="nhome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
        <style>
            .bt1{
                background-color: brown; 
                color: white;
                border: none;
            }
            .bt1:hover{
                background-color: white;
                color: brown;
            }
        </style>
    </head>
        
    <body>
        <div class="nav">
            <div><p>Home</p></div>
            <div><p>About</p></div>
            <div><p>Happy Customers</p></div>
            <div><p>Contact us</p></div>
            <div ><p><a href="custindex">
            <button name="login" type="submit" class="bt1"><b>Customer Signup / Signin</b> </button></a>

                <!-- <button name="login" type="submit" class="bt1" style="background-color: brown; color: white;border: none;"><b>Customer Signup / Signin</b> </button></a> -->
            </p></div>
            <!-- <div><p>Customer Signup / Signin</p></div> -->
            
            
        </div>
        <div class="busi">
            <div class="farm">
                <h3 style="text-align: center;">FARMING</h3>
                <img src="veggie.jpg" height="200px" width="230px"  class="center"><br>
                <p>Avail the products that are 100% organic <br>directly from the farms. </p><br>
                <div class="btns"><a href="login"><button type="submit" style="height: 30px;width: 100px;">Login</button></a></div>
            </div>
            <div class="handl">
                <h3 style="text-align: center;">HANDLOOM</h3>
                <img src="handloom.jpg" height="200px" width="200px"  class="center"><br>
                <p>We weave stories and emotions into &nbsp &nbsp<br>intricate designs.</p><br>
                <div class="btns"><a href="Ylogin"><button type="submit" style="height: 30px;width: 100px;">Login</button></a></div>
            </div>
            <div class="pot">
                <h3 style="text-align: center;">POTTERY</h3>
                <img src="pottery.jpg"  height="200px" width="200px"  class="center"><br>
                <p>We weave stories and emotions into <br>intricate designs.</p><br>
                <div class="btns"><a href="Zlogin"><button type="submit" style="height: 30px;width: 100px;">Login</button></a></div>
            </div>
        </div>
        <div class="ab">
            <h1 style="text-align: center;"> ABOUT</h1>
            <h4 style="text-align: center;" >Roots and Weaves is a long established place where you can find the quality services.</h4><br>
            You have come to the right place. Selling site is your one stop solution. You can find various products here with 100% quality assurance. The businesses we support include Vegetables,fruits,dryfruits and what not. All the customers get your healthy food ordered today and all the retailers join the taste of technology to your quality service. The Selling site connects you both.<br><br>
            Join Roots and Weaves today.  
        </div>
        <h1 style="text-align: center">Happy Customers</h1><br>
        <div class="hap-cus">
            <div class="hap1">
                <img src="c1.jfif" style="border-radius: 50%; height: 130px;width: 150px;"><br>
                <h4> Venkateswararo</h4>
                <h4>(Customer)</h4>
                Selling site helped me by gettting essestials to my doorstep thus saving a lot of time.<br>
                Thank you Selling site.
            </div>
            <div class="hap2">
                <img src="r1.jpg" style="border-radius: 50%; height: 130px;width: 150px;"><br>
                <h4>Janaki</h4>
                <h4>(Retailer)</h4>
                Selling site helped me by connecting to my customers online.<br>
                Thank you Selling site.
            </div>
            <div class="hap3">
                <img src="r2.jpg" style="border-radius: 50%; height: 130px;width: 150px;"><br>
                <h4>Lakshmi</h4>
                <h4>(Retailer)</h4>
                Happy to be a part of selling site. Selling site helped me by increasing my network.<br>
                Thank you Selling site.
            </div>
        </div>

        <h2 style="text-align: center;color: brown;">Contact Us</h2><br>
        <div class="contact-us" style="text-align: center;">
            <div class="con1">
                <b>Name : </b> <input type="text" placeholder="Enter your name"><br><br>
                <b> Gender   : </b> <input type="radio"> Female <input type="radio"> Male <input type="radio"> Prefer not to say<br><br>
                <b>Phone Number : </b><input type="tel"><br><br>
                <b> Email    : </b><input type="email"><br><br>
                <b>Description : </b><input type="textarea" style="height:120px; width: 400px;"><br><br>
                <button type="submit" style="height: 30px;width: 130px;">Submit</button>
            </div>
            <div class="con2">
                <h2>Our Address</h2>
                &nbsp &nbsp  Vishnu Institute of Technology<br>
                &nbsp &nbsp Vishnupur<br>
                &nbsp &nbsp Bhimavaram <br>
                &nbsp &nbsp India<br>
                &#9990;  9876543210<br>
                &#9993; abcd@vishnu.edu.in<br><br>

                &nbsp &nbspflot no:202 , Suvarna Towers<br>
                &nbsp Bandaru vari street<br>
                &nbsp Tadepalligudem<br>
                &nbsp India<br>
                &#9990; 9807654231<br>
                &#9993; rew@vishnu.edu.in

            </div>
        </div>
		<div class="footer">
			<div class="copy">Copyright &#169; 2023 Roots and Weaves</div>
			<div class="icons">
				<a href="#" class="fa fa-facebook"></a>  
				<a href="#" class="fa fa-twitter"></a>  
				<a href="#" class="fa fa-instagram"></a>  
			</div>
		</div>
        
    </body>
</html>