<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/yloginc1.css">
    
  </head>
  <body align="center">
    <div class="firstpage">
            <!-- <span class="doct">
                <h1>Customer</h1>
                <img src="cust.jpg" width="100px" height="100px">
                <br>
                <br>
                <a href="custSignUp">
                    <button name="signup1" type="submit" class="btn"> Signup</button>
                </a>
                or
                <a href="custSignIn">
                    <button name="signin1" type="submit" class="btn"> Signin</button>
                </a>
                <br>
                <br>
            </span> -->

            <span class="pt">
                <h3>Registration Page</h3>
                <img src="handloom.jpg" width="100px" height="100px">
                <br>
                <br>
                <a href="YretSignUp">
                    <button name="signup2" type="submit" class="btn"> Signup</button>
                </a>
                or
                <a href="YretSignIn">
                    <button name="signin1" type="submit" class="btn"> Sign In</button>
                </a>
                <br>
                <br>
            </span>
        <!-- <span class="dctsignin">
        <form action="/" method="post" align="center">
            <h1> Doctor Signin</h1>
            
            
            <fieldset>
                <legend align="left">Enter User Name</legend>
                <input type="text" name="doctor_username" class="one" >
            </fieldset>

            <br>
            <fieldset>
                <legend align="left">Enter Password</legend>
                <input type="password" name="doct_password" placeholder="" class="one">
            </fieldset>
            <br>
            <br>
            <button name="signin1" type="submit" class="btn"> Signin</button>
        </form>
    </span> -->


        <!-- <span class="ptsignin">
            <form action="/" method="post" align="center">
                <h1> Patient Signin</h1>

                <fieldset>
                    <legend align="left">Enter User Name</legend>
                    <input type="text" name="patient_username" class="one">
                </fieldset>
                <br>
                <fieldset>
                    <legend align="left">Enter Password</legend>
                    <input type="password" name="patient_password" class="one">
                </fieldset>
                <br>
                <br>
                <button name="signin2" type="submit" class="btn"> Signin</button>
            </form>
        </span> -->
    </div>

  </body>
</html>